<link rel="stylesheet" href="/dashboard.css">
<%- include('partials/navbar') %>

<h1>Welcome, <%= user.username %>!</h1>
<form method="POST" action="/apply">
  <% questions.forEach((q, i) => { %>
    <div>
      <label><%= q.question %></label><br/>
      <textarea name="q<%= i %>" required rows="4" cols="60"></textarea>
    </div><br/>
  <% }) %>
  <button type="submit">Submit</button>
</form>
