/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/DevSidebar.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.DevSidebar_sidebar__qHBa4 {
  position: fixed;
  top: 60px; /* offset by the topbar height */
  left: 0;
  height: calc(100% - 60px); /* subtract topbar height */
  width: 240px; /* matches Dashboard sidebar width */
  background-color: #1e1f22;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 90;
  border-right: 1px solid #2a2a2a;
}

.DevSidebar_link__oek2p {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #c9d1d9;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  transition: background 0.2s ease, color 0.2s ease;
}

.DevSidebar_link__oek2p:hover {
  background-color: #2f3136;
  color: white;
}

.DevSidebar_active__0v92e {
  background-color: #5865f2;
  color: white;
  font-weight: 600;
}

.DevSidebar_containerWithSidebar__XnQA3 {
  margin-left: 240px;
  padding: 2rem;
  max-width: 1000px;
  width: 100%;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/developer/DeveloperLayout.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.DeveloperLayout_container__f2t9o {
  display: flex;
  height: 100vh;
}

.DeveloperLayout_content__I1FzZ {
  flex: 1 1;
  padding: 2rem;
  background-color: #1e1f22;
}

